.grid {
    margin: 2rem auto;
    display: grid;
    border: 2px solid #888;
    aspect-ratio: 1/1;
}
.grid-cells {
    padding: 0;
    margin: 0;
    aspect-ratio: 1/1;
    border: 0 solid #888;
    border-width: 0 0 1px 1px;
}

.colour-picker {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #ccc;
    border-radius: 1em;
    box-shadow: 0 0.5em .75em -0.5em;
}

.colour-picker .close {
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: 1;
}

@media screen and (aspect-ratio >= 1.3) {
    .grid {
        width: 90vh;
        height: 90vh;
    }
}

@media screen and (aspect-ratio < 1.3) {
    .grid {
        width: 75vw;
    }
}

@media screen and (aspect-ratio < 1) {
    .grid {
        margin: auto;
    }
}