html {
    background-color: #eee;
    min-height: 100vh;
}

#root {
    width: 100vw;
    height: 100vh;
    margin-bottom: 0 !important;
    display: flex;
    flex-direction: row;
}

.hidden {
    display: none;
}

.main-menu {
    min-width: 25vw;
    padding: 1rem;
}

.main-menu menu {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-bottom: 0;
    gap: 1em;
}

.work-area {
    padding: 2rem;
    margin: 0;
}

/* @media screen and (max-width: 101vh) { */
@media screen and (aspect-ratio < 1.3) {
    #root {
        flex-direction: column;
    }
    
}